.imageclss{
    height: 58vh;
    width: 100%;
}
:host {
    background-color: #f0f0f0;
  }
  ion-card{
    background: white !important;
    height: auto;
    border-radius: 20px;
}
@media only screen and (min-width: 600px) {
    ion-body {
      background-color: lightblue !important;
    }
    ion-card{
        width: 400px;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
  }

  ion-title {
    --color: #ffffff;
  }
  
  ion-toolbar {
    --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(120, 120, 228) 0%, rgba(0,212,255,1) 100%);
  }